.filtros {
    width: 90%;
    display: flex !important;
    position: relative;
    align-items: center;
}

.filtros .loading {
    width: 40px;
    margin-right: 15px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 15px;
}

.filtros .order-by {
    padding: 0 10px;
    display: flex;
    border-right: 1px solid black;
}

.filtros .order-by .form-group {
    display: inline-block;
}

.filtros .order-by .direccion {
    width: 20px;
    height: 25px;
    margin: 30px 5px 15px 10px;
    cursor: pointer;
    display: inline-block;
}

.filtros .contenedor-filtros {
    display: flex;
    flex-flow: column wrap;
}

.filtros .filter-by {
    display: flex;
    padding: 0 10px;
}

.filtros .contenedor-filtros .texto-filtrar {
    height: fit-content;
    padding-left: 10px;
}

.filtros .form-label {
    margin-right: 10px;
    margin-bottom: 0px;
}

.filtros .tipo {
    margin-right: 15px;
}

.filtros .filter-by .form-group {
    display: flex;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}

.filtros .filter-by.edadAproximada input {
    width: 140px;
}