.contenedor-multiple {
    margin-top: 20px;
}

.contenedor-multiple .contenedor-todos-valores {
    position: relative;
}

.contenedor-multiple .contenedor-valor {
    display: flex;
}

.contenedor-multiple .contenedor-valor label {
    margin-right: 10px;
    padding: 5px;
}

.contenedor-multiple .contenedor-placeholder {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    height: 34px;
    align-items: center;
    padding-left: 10px;
}

.contenedor-multiple .contenedor-placeholder p {
    font-size: 14px;
}

.contenedor-multiple .contenedor-placeholder img {
    width: 8px;
    height: 9px;
    margin-right: 10px;
    margin-right: 10px;
}

.contenedor-multiple .rotar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.contenedor-multiple .contenedor-valor p {
    padding: 5px;
    margin: 0;
    width: 400px;
}

article {
    height: 300px;
    overflow-y: hidden;
    transition: height 0.4s linear;
}

/* This class is added when button is clicked */

article.expandir {
    height: 628px;
}

.contenedor-multiple .contenedor-valores {
    border-radius: .25rem;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border: 0;
    height: 0;
    overflow-y: hidden;
    transition: height 0.4s linear;
}

.contenedor-multiple .contenedor-valores.expandir {
    height: 96px;
    border: 1px solid #ced4da;
    border-top: none;
}

.contenedor-multiple .contenedor-valores .opcion-valor {
    border-bottom: 1px solid #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 13px;
}

.contenedor-multiple .contenedor-valores .opcion-valor p {
    font-size: 14px;
}

.contenedor-multiple .contenedor-valores .opcion-valor .cuadrado {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-multiple .contenedor-valores .opcion-valor .cuadrado .tick-verde {
        width: 15px;
        height: 15px;
    }